<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${trades}" class="container my-5">
                <p class="my-5">
                    <a href="/trade/newtrade" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Trade</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Trades yet!</h2>

                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ticker</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="trade : ${trades}">
                                <td th:text="${trade._id}"></td>
                                <td th:text="${trade.ticker}"></td>
                                <td th:text="${trade.quantity}"></td>
                                <td th:text="${trade.price}"></td>
                                <td th:text="${trade.created}"></td>
                                <td th:text="${trade.state}"></td>
                                <td th:text="${trade.type}"></td>
                                <td><a th:href="@{/trade/edit/{id}(id=${trade._id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/trade/delete/{id}(id=${trade._id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
